<style>
textarea {
  width: 400px;
  height: 100px;
}
input, button, textarea {
  color: black;
}
</style>

<textarea id="key-input">-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG/MacGPG2 v2.0.22 (Darwin)
Comment: GPGTools - https://gpgtools.org

mQENBFJwJb8BCACro/KuF8vNtSDMcZTJpglYAeA+trdEPjLpxT6iXT0LRJDKJJlq
trnObhnQcDT6ifvtfN7psfwT8pJM+VbQSbSrIJ83KlND7UHcBUekyabhCmwi7nL5
bYvDgKMbHhIPhf35Eeh7pnRqp5IOzz75/ctqll7+QiGT/p2agf4VuiRFYAQJEFx1
/GR3vkPMvdUEM4nvR2uEhc9AYmst3AUyyuNTEEmFIqYQil7T3XpE0VjDXzt9gygQ
NYqPZRp9nfCFhtvTXF4y8pdZdVXZdcIhrIF85RRCNGWbNXb3TdH4Sqbj2TRpTas9
OHQCb2VGvBbE5nnwFyh5VI0aPxdBp9gwlMSnABEBAAG0KVRheWxvciBHZXJyaW5n
IDx0YXlsb3IuZ2VycmluZ0BnbWFpbC5jb20+iQE9BBMBCgAnBQJScCW/AhsDBQkH
hh+ABQsJCAcDBRUKCQgLBRYCAwEAAh4BAheAAAoJEOYsVDm4qbdND2YH/jdt+zu6
Z4JfpdOWLtZERYx/sd0JJU76nZyWHizY5H0+Hf3blud3LcJfRQxWVq9Itb5J+4UP
70GMlD8rBQRzau5R5uoxgiOPMxTL36ycaRE9her9LtZnzha7l60DYpKLeybfq8zS
0oRKNk/kPRuN/PHv6Y0WW06/gOq2Et0PswXA/XDmpoLCuBXPMnKIPGOWspWuY4tL
plVmEg4LceBRv7K4+qcpYGISBGQ2BYYYlXP4r1lWOznQpIcgnXZHXu6czeURJ66S
PXC9GuWIf/trrBJZ5L7SMHX6k94VxWPnveEHxsSQXYN3mGE7uc5rVH9lTv5QNq9X
G6qhNdtuhHt6bFSJARwEEAEIAAYFAlKc6+UACgkQf6sRQmfk+gQRBgf/UOf74JiR
V2bMSnY19Uoh3UIJaZNJV2vmdHXMSzU9EvnWwyehx04rOzsLMci2hd9zH6XFZH1u
jHovknHNDhYX1hKHvg44+Juzw6q05vjItPPt9RHZUmsgZzbBssaUgcI5eV3U6nMv
Cs6bb/K8l9aAeWXtqavx/IUeu/QgxXE4qKmbHoBsMPqrnobRdb6KwVcbdjUW+kdx
c1YaE/G2BbnCG3hYaF/Py+MgtzZEpqSD1TunoatSOEIq/TpMlzMoyV/+NYeD/lMs
3pVoM0aMslyL3vtZMj8c4gObOEA7eaJNGKoSBsh3589cMBfGWOIPCJXkmgfpuj7h
0LAlJ+Zaok65WIkCHAQQAQoABgUCUp+PTwAKCRCkTD3TpUjY4tgUD/9J0MOcl1i8
PKFt3yG3hXrzUdADVPK3gl101XIVXN4ud0LhXlGrQ5FSAK/dyidiL+l8vFyPpoWC
0oSLvvydO7gxGd5ufh7sUxxJvjzv4XMFdVJT437PUx3D59TY0ZHF0UEP9lanhXFS
4AJm52B9hAFIeO/wkzhI6Dq3Re40x4Q+XVAzH0gv+Pwp0mnW9Z9q/aY6oFD9FADa
OLphxWNfmvrqFHC2pBTrFQMMPNii09xjy/lBzyuWE897pLSUlHUAw2xhr2eZW0/K
tUCmfRBIjsEdxvfhvIWXNJu8DLytBf4PMcECLvONZOjBB4dXQ7KJjIpxscPtoAYD
p/JJRXViTJVtEa762m+59po5G1/8P/Slz/xGfr893gSmeUlPddpGmWrRpUz/1D0O
gvPWrXMcydKEIXaoUBB4Gik0A2mMn9jsmCLPSgbm3+d+ZvUlpgHbgBIwIMfRMROo
pBSAHRoPj73hmVXs6z5DJd1V9oX07zGk2mXVCgpH9b2I6CDsJpeC1pkMrsMqPoYk
Fbkq0OMZzr2AiesEhvE//qWl5N3e0ec+3E+gFk0V+JK1x1JsC81JXTej/lBVEiuK
ppUJRqKshkt/Cg/XPbcn+0uY/7nOkWG8ZxH6fIACCQHlopxucPMQwStjaM4MkKMm
Y0/PcdbBBiUHHfvBGl7minn9guOIjfyIl4kBGwQTAQoABgUCUp+T6AAKCRBvhZ9z
pdMmLtkQB/YjqX7EaCZFEihzuCpr5lKEJ71YxjHBC3YIf1avfOxXRiICnfbE6y0c
3A6LjMHYOSICKqAwshnwFhQiWmwyXI8SuQb9Lf3M3vzrDscmoRQy/th/bql8KUiH
5AbJxduoc2So6iVUuz/TofGLn/3TUVCV5RbokbmFZTvTbrbLgGC8B/czKNH7Zo7k
TB8BVS1Uq0yNsNAKdbaQ+p4y98xJUJ4A+S24cLDJ2xXZkUM1aouPo2EsNsZjDX6A
rKzJj3cVrGUDqa7/0TOZgA9vlv5AnA3cUf9UaRebSaIYmNd2QgQV5LxUnFV2bJWZ
qEsBOlyfydJOIRNlbkFNf/GDPVaoauaJARwEEwECAAYFAlKfnGcACgkQhiRh5NQa
DzW6bwgAnOv5xscc/r5sVgkMxKGNvKbqXGKx1zlHaFytIO5Z2jz2yyfayP1VNogE
8PtWRh5zyuWoU17dqsQn8lo/WtZd8iXLg+SfWwUspg/BEwoFdZQdcq8jeQp4j98M
IYkYG8iYVGfzmQnLGi+t5o1yIw4kdIRxXKj8SwtAocOCN+dpQshANJ9HkIcJKxIp
jxl4WZ15XasuvoyX7rHQun7KeS+fBHrjXJLFeTFs1QJqGL8yW0+mPWVlylrzOmWi
DnYrhA5iZPc70JQs5+uGHzansfWW130l5V/SFE8TTRCmaAZdgas6JRrwJ8eggSiZ
OPTPhmZBqy+yNFTM0pgMlXaRT2zevrQmVGF5bG9yIEdlcnJpbmcgPHRheWxvckBo
aXZld2FsbGV0LmNvbT6JAT0EEwEKACcFAlKdExUCGwMFCQeGH4AFCwkIBwMFFQoJ
CAsFFgIDAQACHgECF4AACgkQ5ixUObipt00ThAgAk7RwtM65flq2xWbf962BKoXE
C0Fg2gGqlXFT4c23egUzdWO5c+fvEzvKhcjRNgE5U1b3L4epVITslefMOu45UbBb
B/rrNFQ05jjzdMOu86p5bj7ZFntaGt/eQMBxZYd2YgGodyU86ytyehDwE74TSG3r
msbliw8ampfEX7V7iTanCZ66GoKll99p9bgZiZtJ8dfvIlhDdQCqOmgbke/gcJlw
N22fzePHruBaX1icFgTN0ozuqDCiWjlbdsqbKq57/frCtxlD+Q5wWp0FJCw2WqmV
jTGUeD406lm1uQjae2Nr7mTw11ChjnGhixY8yK2Vwf1VyxLRN6FKCSBDm9FRBYkC
HAQQAQoABgUCUp+PTwAKCRCkTD3TpUjY4hWFD/0aYnX4de6USQU6bxPV54fKxRk3
lryeXF6/GKnhieoocCaceJQW0apNU3VYxOCdJdFhKenS8HQf0X0dchLLAKgez+KE
au6w4EkeECn+HZAs11Eap4SZclCSs6oBCymqE7j/ok++8HfTniW/4rCCd4BI5C/R
8Mdg04wXC9kM/GOeCsmoUNE4HF1GU+u3KEziyisN9lmT8NWqO/uqHjdcgRQaFsdY
R9mrRv0Y4gY1qo8qmsWNmqksg6wEw8d2ef+G/5TSNAirrxIiqC2v0fnrgXrsPjHE
fyw0UuWBoTYCv97RPdnZrJaBo0jmU+d9Vwwc+gpBpO+Os3r2hQdaY62TzPT/Gl2e
tys0LHPLrDMDyaMrWFo5N/bt7Pu6vYPTX0q5adw7Z4JQY+NdtrFN4TlnnGBLpp2u
vvtguoODzSiLskMGfWA/Hc62/ipw9BcZliR76JdlrK+o3aht+Cm9dj2chFo1DSWB
jDUo6PEQmS2pJ0iRPfW1mY/QimZzyw/CnSUgi9FOVgYL5MbkQ5mIXvSNZ+uKotTQ
mDyYM013Qcay1JAA5sqeghvMiYRQ88CgnP+a4Cy94suD6NqupeDV32M5q1tIHAF9
k+6xWzSSVk2YAyMwn+juo0lJFnlLDqTbCGwHadMqUpo2e0WM0ouD48fFlCxDDjyF
cvZ9q4hIzow627BJIokBHAQTAQoABgUCUp+T3AAKCRBvhZ9zpdMmLt6MCACAqtuT
BqZUfAaWfdXamER6sNT2loC/XPSQCHdo+0vN8wl9KS2ipcjqrS+ya+EyuHSNNjP5
hjZDveoYxpOUy7xM1ZDC4NkLFzyTXC9BvpXYUpGfgtgm+Wp+vNjWthCqIyzVT0QZ
ORsJ1oe3Q900vRij303e9H2qGCHaJlIeyX8eU24R1rSMJ2JIUQl0UKb7MSDTkxVM
aNZ+Qbc8whF8yF0e86+wJL3UTXk+BEuwUHAIaImi8HjKqUN6wjSI+rreLzFhX0lT
r4GGJswgQv2MSYkSyDeKYHwhRKmcgbUBawv3jvFuvh64MBueoVXGp+2Zl4OjXsIj
o0Dz7QbJdGtrgpCaiQEcBBMBAgAGBQJSn5xnAAoJEIYkYeTUGg81CzcH/3aFt6FD
4nJsSKkWai34CcxcFd/x/bWFu7rG5Mgpay2j7Js6at8cd3iuq9JjEYc7bsXFuHCa
DwoUChbxJcxawjO9V/A+8lWGq8DfgTgIskAoJNpMVtV344WR16lwfqx2h9em1ZLf
LzLoZnNOT1UY0CV2rGTIwz3DoquDO/xi22wxfMZ89zx2+UQczqKpykxRTXefqoPY
GwTl7xCoidnTxdQy+eplP4RBdWJ3rMWyWqsdmLCCvin3EL2HcTOpCNPYqoHfR5as
SQqDVCXaO7yNS+lLKX1bci+3ufqNy0mo7LYKHBsGaE7DGr2LlT41KxKLho9bpWls
GIzGMGgUkKq7CiaJARwEEAEIAAYFAlKgWbAACgkQf6sRQmfk+gT4jAf/bXo9Sm6e
sz3vjdyNBGjBjoswzo3CVFVEfaRB1QVJedS5OLc7irQ432g6uh+2KStKY/WQILME
0tA+l2IONIcta08dzM91kZBaIU7qH4JcsWNcMdSIHtMDZ8vBYkv8jzJSfvEYlc9P
hw0Drbt9lwp/dDlfM9hC8sSjWl0wosOgIhTYfQTnZrMuLHMm1qaYiIqQcUMxI/9K
6ECp/HNJqsdiNFnA0OvT4xjXyUJ0+sYdv/yTJWuxTFu6go0Q6WaoU+fRvQEjN+fg
/KYbAc+LbJAy6+QDl7k2Cc71gEbs9u1WibPuxXNZ0P29B4Csy1Au6zM8LrSpxd+3
TgtBUYkPHG0MC7kBDQRScCW/AQgAregApdeoqWgFNmimIWFDQOJiVEY89JCzlEnA
SQ8ffMrckQX16V6Bb478IQjPewXqfr37WsTLm/IzPPEhejtRofkn5qJ46ObnFyTk
Z4yBwVYK9cIdTog3lniWw/svuE8eZMOsWdloBGrifDvZyaPrs8gGhWEATima0WDU
HCk9LV6CezMpoLRFsdPkUppjWsFu4zOkQ0vN4ew7DsNPKVnkRnL2sW2z/IzmOOFw
ZKv+wsBaYViW3rZ1jcYpvJ8f/ZOQS6n7R9mbV0VtrWIw6jZ9Nc+hehB+QUk6TIaA
97LLUnCSb8lYUSGla2/YX8XlcPi2oEqCXMdC+q2Z/ZNCjKn+UwARAQABiQElBBgB
CgAPBQJScCW/AhsMBQkHhh+AAAoJEOYsVDm4qbdNHt0H/3t+1m1cXu6rcPQ7b1qa
pFERDgQtD/B4p4qCtBjuyp0JPnH4TpIDtO3189wLdACyMuXxE15lVIz3IAnBr5t3
p4nzKX/k49YEIqZfRij6gNDEIfjzcKvP679tRuA9v4ymvVfKKw2b7/4pIQAPe46E
B9cwp8u7JIBM0DA/tjpqS00ZECN5MdHFXQATdkMZ2KZZbIkXRaj0m/zrs0ijVLYZ
Nyg3KYTgvG0BeqwfmeFMrGA3k8VoEQAE+eFca0ZZuyi5wZTY8+2hGoWizYEaOlDe
P/K6BDB+yb/QL6jk825O2d6gc+8ltX5uehepwNgw7CmagdRMd5+WHzxVOASVYxRz
Uh0=
=q5SY
-----END PGP PUBLIC KEY BLOCK-----
</textarea>
<textarea id="user-message">Hello Charles!</textarea>
<button id="btn-sign" type="button">Sign!</button>
<button id="btn-encrypt" type="button">Encrypt!</button>
<button id="btn-decrypt" type="button">Decrypt!</button>
<textarea id="result-message">(Result)</textarea>
<script>
$(document).ready(function(){
  var signMessage = function() {
    var key = $('#key-input').val();
    var userMessage = $('#user-message').val();
    var publicKey = openpgp.key.readArmored(key);
    var pgpMessage = openpgp.encryptMessage(publicKey.keys, userMessage);
    return pgpMessage;
  }
  var encryptMessage = function() {
    var key = $('#key-input').val();
    var userMessage = $('#user-message').val();
    var privateKey = openpgp.key.readArmored(key);
    //var pgpMessage = signClearMessage(privateKeys, userMessage, callback)
    return pgpMessage;
  }
  var decryptMessage = function() {
    var key = $('#key-input').val();
    var userMessage = $('#user-message').val();
    var privateKey = openpgp.key.readArmored(key);
    //var pgpMessage = decryptMessage(privateKey, userMessage, callback)
    return pgpMessage;
  }

  $('#btn-sign').click(function(){$('#result-message').val(signMessage())})
  $('#btn-encrypt').click(function(){$('#result-message').val(encryptMessage())})
  $('#btn-decrypt').click(function(){$('#result-message').val(decryptMessage())})
});
</script>