<form target='_blank' method="POST" accept-charset="UTF-8" action='http://startpage.com/do/search' onsubmit="javascript:document.metasearch.query.value=document.metasearch.keyword.value;" name="metasearch">
  <img border="0" src="http://startpage.com/graphics/startpage_logo_option4.jpg" width="94" height="42">
  <input value="searchbox" type="hidden" name="from">
  <input value="english" type="hidden" name="language">
  <input value="web" type="hidden" name="cat">
  <input type="hidden" name="query">
  <input id="querysearchbox4" size="20" name="keyword">
  <input value="process_search" type="hidden" name="cmd">
  <input value="sb" type="hidden" name="frm">

  <input id="submit" value="Search" src="http://startpage.com/graphics/stp_search_small.gif" type="image">

</form>