* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

h4, .h4, h5, .h5, h6, .h6 {
  margin:0;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin:0;
}

.packery {
  margin: 20px;
  background: none;
  max-width: 100%;
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.item {
  width: 50px;
  height: 50px;
  float: left;
  background-color: rgba(39, 50, 63, 0.9);
  padding: 5px;
}

.item:hover {
  border-color: white;
  cursor: move;
}

.item.w2 { width:  100px; }
.item.h2 { height: 100px; }
.item.h4 { height: 200px; }
.item.w4 { width:  200px; }
.item.h8 { height: 400px; }
.item.w8 { width:  400px; }
.item.h16 { height: 800px; }
.item.w16 { width:  800px; }

.item.is-dragging,
.item.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 2;
}



body {
  color:#F3F4F3;
  background: rgba(39, 50, 63, 0.9) url('/images/ethereumsplash-bg-web01-min.jpg') no-repeat fixed center; 
}
/*
.footer {
  top:400px;
}
.mosaicbox {
  background-color: rgba(39, 50, 63, 0.9);
  border-radius:0px !important;
}
*/
