body {
  height:100%;
  margin:0;
  color:#F3F4F3;
}
.container {
  float:left;
  width: 100%;
  margin:0 auto;
}
.column {
  float:left;
}
.item {
  width: 25%;
}
.itemw2 {
  width: 50%;
}
.footer {
  top:400px;
}
.mosaicbox {
  padding: 10px;
  background-color: rgba(39, 50, 63, 0.9);
  margin: 10px;
  min-height:200px;
  border-radius:0px !important;
}
