extends ../layout

block content

  div.equalmargin

    div#widgets.packery.fluid.has-padding

      div.item.w4.h4
        h1 welcome to dashdash

      div.item.w4.h2

      div.item.w4.h2
      
      div.item.w4.h4

      div.item.w8.h4

      div.item.w8.h4

      div.item.w8.h8

      div.item.w4.h4

      div.item.w4.h4

      div.item.w4.h4

      div.item.w8.h8

      div.item.w4.h4

      div.item.w2.h8

      div.item.w2.h8

      div.item.w16.h8


