extends ../layout

block content

  div.equalmargin

    div#widgets.packery.fluid.has-padding

      div.item.h4.w16
        h1 welcome to dashdash

      div.item.w4.h16

      div.item.w8

      div.item.h16.w4

      div.item.w4.h4

      div.item.w4.h4

      div.item.h8.w4

      div.item.w16.h4

      div.item.w8.h4

      div.item.w4.h4

      div.item.w4.h4

      div.item.w8.h8

      div.item.w4.h4

      div.item.w2.h8

      div.item.w2.h16

      div.item.w8.h8


