extends ../layout

block content

  div#widgets.packery.fluid.has-padding

    div.item.w4
      p this is a test

    div.item.h4

    div.item.w2

    div.item.h4

    div.item

    div.item

    div.item.h2

    div.item.w4

    div.item.w2

    div.item

    div.item

    div.item.w2.h2

    div.item

    div.item.h2

    div.item

    div.item.w2


