extends ../layout

block content

    div.parallax
      div.water.water-layer4
      div.water.water-layer3
      div.water.water-layer2
      div.water.water-layer1

    div.equalmargin

      div#widgets.packery.fluid.has-padding

        div.item.w4.h4
          include ../modules/holon_data.html
          img(src='../images/mock-07.png')

        div.item.w4.h2.centering
          p
          h1 sign up
   
        div.item.w4.h2.centering
          p
          h1 sign in
        
        div.item.w8.h2
          include ../modules/startpage_search.html

        div.item.w4.h4
          img(src='../images/mock-28.png')

        div.item.w8.h6
          img(src='../images/mock-14.png')

        div.item.w4.h2
          include ../modules/bitcoinaverage_price.html

        div.item.w4.h8
          img(src='../images/mock-13.png')
        
        div.item.w4.h2
          img(src='../images/mock-11.png')
        
        div.item.w4.h4
          include ../modules/soundcloud.html

        div.item.w4.h8
          img(src='../images/mock-15.png')

        div.item.w4.h2
          img(src='../images/mock-10.png')

        div.item.w12.h8
          p #{brand}

