extends ../layout

block content

  div.equalmargin

    div#widgets.packery.fluid.has-padding

      div.item.w4.h4
        img(src='..//images/mock-07.png')

      div.item.w4.h2

      div.item.w4.h2.centering
        h1 sign in
        p
        h1 sign up

      div.item.w4.h4
        img(src='..//images/mock-12.png')

      div.item.w4.h4
        img(src='..//images/mock-14.png')

      div.item.w4.h8
        img(src='..//images/mock-13.png')
        
      div.item.w4.h2
        img(src='..//images/mock-11.png')
        
      div.item.w4.h4
        include ../modules/soundcloud.html

      div.item.w4.h4

      div.item.w4.h4
        include ../modules/holon_data.html

      div.item.w8.h8

      div.item.w4.h4

      div.item.w2.h8

      div.item.w2.h8

      div.item.w16.h8


