extends ../layout

block content

    div.parallax
      div.water.water-layer4
      div.water.water-layer3
      div.water.water-layer2

    div.equalmargin

      div#widgets.packery.fluid.has-padding

        div.item.w4.h4
          include ../modules/holon_data.html
          img(src='../images/mock-07.png')

        div.item.w4.h2.text-center.draggable
          p
          h1 Sign up
   
        div.item.w4.h2.text-center.draggable
          p
          h1 Sign in
      
        div.item.w4.h4.draggable
          div.zone1
            p
            h2 Zug
          div.zone2
            p
            h3 +1C
            h4 -3
          div.zone3
            p
            <i class="fa fa-cloud fa-5x"></i>
          div.zone4
            h3 15:08 GMT+1
        
        div.item.w8.h2.draggable
          include ../modules/startpage_search.html

        div.item.w4.h4.draggable
          img(src='../images/mock-28.png')

        div.item.w8.h6.draggable
          img(src='../images/mock-14.png')

        div.item.w4.h2.draggable
          include ../modules/bitcoinaverage_price.html

        div.item.w4.h6.draggable
          img(src='../images/mock-13.png')
        
        div.item.w4.h2.draggable
          img(src='../images/mock-11.png')
        
        div.item.w4.h4.draggable
          include ../modules/soundcloud.html

        div.item.w4.h8.draggable
          img(src='../images/mock-15.png')

        div.item.w4.h2.draggable
          img(src='../images/mock-10.png')

        div.item.w8.h8.draggable
          p #{brand}

