extends ../layout

block content

  div.equalmargin

    div#widgets.packery.fluid.has-padding

      div.item.w4.h4
        include ../modules/holon_data.html
        img(src='..//images/mock-26.png')

      div.item.w4.h2.centering
        p
        h1 sign up
   
      div.item.w4.h2.centering
        p
        h1 sign in
        
      div.item.w8.h2
        include ../modules/startpage_search.html

      div.item.w4.h4
        img(src='..//images/mock-28.png')

      div.item.w8.h6
        img(src='..//images/mock-32.png')

      div.item.w4.h8
        img(src='..//images/mock-27.png')
        
      div.item.w4.h2
        img(src='..//images/mock-31.png')
        
      div.item.w4.h4
        include ../modules/soundcloud.html

      div.item.w4.h8
        img(src='..//images/mock-29.png')

      div.item.w4.h2
        img(src='..//images/mock-30.png')

      div.item.w12.h8
        p #{brand}

